@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Tajawal&family=Ubuntu:wght@500&family=Unbounded&display=swap');

*{
    font-family: 'Ubuntu';
    color: var(--fg);
    transition: 200ms;
}

::selection{
    color: white;
    background-color: #FF00DD;
}

:root{
    --bg: #0b0035;
    --fg: #DCD4FF;
    --lbg: #6353A4;
}

::-webkit-scrollbar{
    display: none;
}

body, html{
    background-color: var(--bg);
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

.header{
    width: 100%;
    line-height: 100%;
    margin: 0;
    text-align: center;
    padding: 3vw 0;
    font-size: 3vw;
}

.orders-frame{
    width: 100%;
    display: flex;
    justify-content: center;
}

.orders{
    box-sizing: border-box;
    width: 75%;
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(10%, auto);
    gap: 5vw;
}

.order{
    width: auto;
    background-color: var(--lbg);
    overflow: hidden;
    border-radius: .75rem;
}

.order *:not(img){
    padding: .75rem;
    margin: 0;
    line-height: 100%;
}

.order *:not(img, .plus):hover{
    filter: brightness(1.2);
    backdrop-filter: brightness(1.2);
}

.order img{
    width: 100%;
    aspect-ratio: 3/1;
    object-fit: cover;
}

.complete{
    color: #56EB6D;
}

.add{
    color: white;
}

.add-order:hover{
    filter: brightness(1.1);
    backdrop-filter: brightness(1.1);
    cursor: pointer;
}

.add-order{
    transition: 200ms;
    background-color: transparent;
    border: .33vw solid var(--fg);
    /* display: flex;
    align-items: center;
    justify-content: center; */
    position: relative;
}

.add-order .plus{
    display: block;
    font-size: 5vw;
    margin: 0;
    padding: 0;
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
}